---
import "../styles/global.css";
import type { CollectionEntry } from "astro:content";
import Header from "../components/Header.astro";

type Props = CollectionEntry<'blog'>['data'];

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
	<title>{title} | Machines School Blog</title>
  </head>
  <body>
    <Header />
    <main class="mt-16 pt-16 container mx-auto">
      <article class="prose mx-auto">
        <h1 class="text-5xl font-bold">{title}</h1>
        <p class="text-gray-500">{description}</p>
		<slot />
      </article>
    </main>
  </body>
</html>
